@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

.root,
#root,
#docs-root {
	--primaryDark: #f2e9e4;
	--secondaryDark: #9a8c98;
	--accentDark: #e80059;
	--accentSecondaryDark: #b7094c;
	--backgroundDark: #1b1528;

	--primaryLight: #367ee9;
	--secondaryLight: #a0aec0;
	--accentLight: #718096;
	--accentSecondaryLight: #b7094c;
	--backgroundLight: #fff;
}

@layer base {
	@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
	html {
		font-family: 'Poppins', sans-serif;
		background: #1d1020;
	}

	.upload-grid {
		display: grid;
		gap: 1rem;
		padding: 1rem;
		grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
		/* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
	}

	.more-by-grid {
		display: grid;
		gap: 1rem;
		grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	}

	.tags-grid {
		display: grid;
		gap: 1rem;
		grid-template-columns: repeat(3, minmax(80px, 1fr));
	}

	.follower-artwork-grid {
		display: grid;
		gap: 1rem;
		grid-template-columns: repeat(3, minmax(80px, 1fr));
	}

	/* Add parent to the parent div then add .parent-hover:move to the child div */
	.thumbnail {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		transition: all 0.3s ease;
	}
	.thumbnail:hover {
		box-shadow: -1px -1px #b7094c, -2px -2px #b7094c, -3px -3px #b7094c;
		-webkit-transform: translateX(3px);
		transform: translateX(3px);
	}

	.parent:hover .parent-hover\:fade-in {
	}

	.thumbnail-text:hover {
		background-image: linear-gradient(
			to bottom,
			hsla(0, 0%, 0%, 0) 0%,
			hsla(0, 0%, 0%, 0.009) 11.7%,
			hsla(0, 0%, 0%, 0.034) 22.1%,
			hsla(0, 0%, 0%, 0.072) 31.2%,
			hsla(0, 0%, 0%, 0.123) 39.4%,
			hsla(0, 0%, 0%, 0.182) 46.6%,
			hsla(0, 0%, 0%, 0.249) 53.1%,
			hsla(0, 0%, 0%, 0.32) 58.9%,
			hsla(0, 0%, 0%, 0.394) 64.3%,
			hsla(0, 0%, 0%, 0.468) 69.3%,
			hsla(0, 0%, 0%, 0.54) 74.1%,
			hsla(0, 0%, 0%, 0.607) 78.8%,
			hsla(0, 0%, 0%, 0.668) 83.6%,
			hsla(0, 0%, 0%, 0.721) 88.7%,
			hsla(0, 0%, 0%, 0.762) 94.1%,
			hsla(0, 0%, 0%, 0.79) 100%
		);
	}

	.followers-grid {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		/* -webkit-box-align: stretch;
		-ms-flex-align: stretch;
		align-items: stretch; */
		margin: 22px 11px 0;
	}

	.follower-grid-item {
		padding: 0 11px 22px;
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
		text-align: center;
	}

	@media (min-width: 992px) {
		.follower-grid-item {
			width: calc(100% / 3);
			-ms-flex-preferred-size: calc(100% / 3);
			flex-basis: calc(100% / 2);
		}
	}

	@media (min-width: 1200px) {
		.follower-grid-item {
			width: calc(100% / 4);
			-ms-flex-preferred-size: calc(100% / 4);
			flex-basis: calc(100% / 3);
		}
	}

	@media (min-width: 1440px) {
		.follower-grid-item {
			width: calc(100% / 5);
			-ms-flex-preferred-size: calc(100% / 5);
			flex-basis: calc(100% / 4);
		}
	}
}
